<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Employer: ' + employer.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="job-listing">
    <p th:text="${'Employer ID: ' + employer.id}"></p>
    <p th:text="${'Name: ' + employer.name}"></p>
    <p th:text="${'Location: ' + employer.location}"></p>
    <p> <a th:href="@{/list/jobs(column=employer,value=${employer.name})}">View Available Jobs</a></p>
</div>


<div>
    <br>
    <a th:href="'/employers/add?employerId=' + ${employer.id}"><button >Add Employer</button></a>
</div>

</body>
</html>